<h1>List of Movies</h1>

<button (click)="addMovie()"> Add Movie</button>
<table border="3">
  <tr>
    <td>Title</td>
    <td>Director</td>
    <td>ReleaseDate</td>
    <td>Type</td>
    <td>Details</td>
    <td>Action</td>
  </tr>
  <tr *ngFor="let movie of movies">
    <td>{{ movie.title }}</td>
    <td>{{ movie.director }}</td>
    <td>{{ movie.releaseDate }}</td>
    <td>{{ movie.type }}</td>
    <td><a routerLink="/details/{{ movie.id }}">Details</a></td>
    <td><button (click)="deleteMovie(movie)"> Delete</button></td>
  </tr>
</table>